<div id="container">
  <p>Hello, my name is {{name}}.</p>
  <div class="circle-container">
    <ul class="site-circle">
      {{#each site}}
        <li class="site-item">{{name}}{{lastBuildAuthor}}</li>
      {{/each}}
    </ul>
  </div>
</div>
