<div id="container">
  <p>Hello, my name is {{name}}.</p>
  <div class="circle-container">
    <ul class="site-circle">
      {{#each people}}
        <li class="site-item">{{user}}</li>
      {{/each}}
    </ul>
  </div>
</div>
