<li class="site-item {{#if status}}site-build-failed{{/if}}">
  <div class="site-name">{{name}}</div>
  <div class="last-build-author">{{lastBuildAuthor}}</div>
  <div class="last-build-time">{{lastBuildTime}}</div>
</li>
