/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  text-align: center;
  font-size: 2em;
  margin: 1em;
}
#app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 154, 226, 0.83);
}
#app.rotate .site-circle {
  animation: rotate 30s infinite linear;
}
.circle-container {
  width: 100%;
  position: relative;
  top: 200px;
  display: block;
  perspective: 500px;
}
.site-circle {
  width: 100%;
  display: block;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .5s;
  transform: rotateX( -17deg );
}
.site-item {
  display: block;
  margin: 0;
  position: absolute;
  width: 120px;
  height: 120px;
  left: 50%;
  top: 10px;
  border: 2px solid #000;
  margin-left: -60px;
  border-radius: 50%;
  text-align: center;
  transition: transform .5s;
}

.last-build-author {
  width: 100%;
}
.flip-wrap {
  position: relative;
  height: 100%;
  width: 100%;
}
.site-item-wrap,
.background {
  margin: 0;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  background-size: 100% auto;
  /*backface-visibility: hidden;*/
}
.site-item-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.background {
  /*transform: rotateY( 180deg );*/
}
.site-build-failed {
  border: 6px solid #f00;
}
.last-build-author,
.last-build-time,
.site-name {
  color: #222;
  background: #fff;
}
@keyframes rotate {
  from { transform: rotateX( -17deg ) rotateY(0deg); }
  to   { transform: rotateX( -17deg ) rotateY(360deg); }
}
